<%- include ("header", { "title": "Search" }) %>

<div class="card-container d-flex justify-content-center">
  <div class="col-md-3">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title"><%= file.name %></h5>

        <p>
          <strong>Username:</strong>
          <%= file.info.username %>
        </p>

        <p>
          <strong>Email:</strong>
          <%= file.info.gmail %>
        </p>

        <p>
          <strong>Size:</strong>
          <%= `${file.length}mb` %>
        </p>

        <a href="#" class="btn btn-primary">Fetch</a>
      </div>
    </div>
  </div>
</div>
